.not-found {
  position: relative;
  background: #d0f0f9
    url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%231564e3' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
  margin: 0;
  padding: 0;
  max-height: 100vh;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  height: 60vh;
}

/* body {
  position: relative;
  background: #d0f0f9
    url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%231564e3' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
  margin: 0;
  padding: 0;
  max-height: 100vh;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
} */

svg {
  max-width: 66vw;
  height: 80vh;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bl_404__link {
  position: absolute;
  display: block;
  padding: 10px 15px;
  left: 50%;
  bottom: 8vh;
  white-space: nowrap;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  transform: translateX(-50%);
  text-transform: uppercase;
  background-color: #f05247;
  border-radius: 20px;
  border: 2px solid #fff;
  transition: 0.12s ease-in;
}

.bl_404__link:hover,
.bl_404__link:focus {
  color: #fff;
  background-color: #ce4540;
  transition: 0.12s ease-in;
}

.left_leg_anim__full {
  transform-origin: 260px 150px;
  perspective: 2200px;
  will-change: transform;
  animation: movingLeg 6s linear infinite;
}

@keyframes movingLeg {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(1.5deg);
  }
}

.st0 {
  fill: #f05247;
}

.st1 {
  fill: #96342f;
}

.st3 {
  fill: #fff;
}

.st8 {
  fill: #f68d58;
}

.st9 {
  fill: #f89b69;
}

.st10 {
  fill: #fecf63;
}

.st15 {
  fill: #fee19a;
}

.aboutMe a {
  display: block;
  width: 30%;
  position: fixed;
  bottom: 0.1%;
  left: 20px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}
